MMUP/WebContent/wsdl/WebServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mmup.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mmup.com" xmlns:intf="http://mmup.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mmup.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getTaskDetailsById">
    <complexType/>
   </element>
   <element name="getTaskDetailsByIdResponse">
    <complexType>
     <sequence>
      <element name="getTaskDetailsByIdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticate">
    <complexType>
     <sequence>
      <element name="authenticateInput" type="impl:AuthenticateInput"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="AuthenticateInput">
    <sequence>
     <element name="identityContext" nillable="true" type="xsd:string"/>
     <element name="login" nillable="true" type="xsd:string"/>
     <element name="onBehalfOfUser" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="authenticateResponse">
    <complexType>
     <sequence>
      <element name="authenticateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getTaskDetailsByIdRequest">

      <wsdl:part element="impl:getTaskDetailsById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateRequest">

      <wsdl:part element="impl:authenticate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTaskDetailsByIdResponse">

      <wsdl:part element="impl:getTaskDetailsByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateResponse">

      <wsdl:part element="impl:authenticateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WebServices">

      <wsdl:operation name="getTaskDetailsById">

         <wsdl:input message="impl:getTaskDetailsByIdRequest" name="getTaskDetailsByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTaskDetailsByIdResponse" name="getTaskDetailsByIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticate">

         <wsdl:input message="impl:authenticateRequest" name="authenticateRequest">

       </wsdl:input>

         <wsdl:output message="impl:authenticateResponse" name="authenticateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WebServicesSoapBinding" type="impl:WebServices">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTaskDetailsById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTaskDetailsByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTaskDetailsByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="authenticateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebServicesService">

      <wsdl:port binding="impl:WebServicesSoapBinding" name="WebServices">

         <wsdlsoap:address location="http://localhost:8080/MMUP/services/WebServices"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
